
.mapClass {
  top:0px;
  height: 100%;
  //width:1572px;
  width: 100%;
  z-index: 1;
  float:right;
}

// .testButton {
//   position: absolute;
//   top:3px;
//   left:10px;
//   width:25px;
//   height:25px;
//   z-index: 10;
//   background-color:black;
//   cursor: pointer;
// }

.leaflet-container {
  right:0px;
  top:0px;
  height: 99vh;
  width: 86.5vw;
}
