
.mapClass {
  top:0px;
  height: 100%;
  //width:1572px;
  width: 100%;
  z-index: 1;
  float:right;
}

.testButton {
  position: absolute;
  top:50px;
  left:50px;
  width:100px;
  height:50px;
  z-index: 10;
  background-color:black;
  cursor: pointer;
}

.leaflet-container {
  right:0px;
  top:0px;
  height: 99vh;
  width: 84.2vw;
}
