.sidebar {
  position:absolute;
  top:0px;
  float:left;
  width:13vw;
  height:99vh;
  background: #373a47;
  border-right: 1vw solid #565C70;

}

.headerText {
  position:relative;
  top:2vh;
  left:5vh;
  font-style: oblique;
  color: #ffffff;
  font-size: 1.5em;
}
.dropZone {
  position:absolute;
  width:13vw;
  height:15vh;
  bottom:0vh;
  left:0vh;
}

.sidebar-layer {
  position: relative;
  cursor: pointer;
  width: 15vh;
  height: 3vh;
  left:5vh;
  top:8vh;
  background-color:white;
  margin-bottom:3vh;
  text-align: center;
  border-radius: 0.7vh;
  border: 0.5vh solid black;

  &.red {
    background-color: #e5141f;
  }
  &.blue {
    background-color: lightblue;
  }
  &.yellow {
    background-color: yellow;
  }
  &.green {
    background-color: lightgreen;
  }
  &.orange {
    background-color: orange;
  }
  &.purple {
    background-color: rgb(171, 119, 234);
    //color: white;
  }
  &.pink {
    background-color: pink;
  }


  &.active {
    border: 0.6vh solid #faeece;
  }

}

.checkboxClass {
  position: relative;
  cursor: pointer;
  left: 2vh;
  top: 8vh;
}

.buffer_div {
  position: relative;
  cursor: pointer;
  left: 20.1vh;
  top: 0vh;
  background-color:white;
  height: 2vh;
  width: 2vh;
}

/* React Filepicker Example CSS */

body {
    font-family: sans-serif;
}

.filepicker.dropzone {
    background-color:rgba(255, 255, 255, 0.2);
    border-radius:5px;
    border: 0.2vw dotted grey;
}

.dz-default {
  color:rgba(255,255,255,0.7);
}


.filepicker.dropzone .dz-preview {
    background: none;
    border-radius: 5px;
}
