.sidebar {
  position:absolute;
  top:0px;
  float:left;
  width:13vw;
  height:99vh;
  background: #373a47;
  border-right: 1vw solid #565C70;

}
.dropZone {
  position:absolute;
  width:12vw;
  height:15vh;
  bottom:10%;
  left:2.5vh;
}

.sidebar-layer {
  position: relative;
  cursor: pointer;
  width: 5vw;
  height: 5vh;


  &.active {

  }

}


/* React Filepicker Example CSS */

body {
    font-family: sans-serif;
}

.filepicker.dropzone {
    background-color:rgba(255, 255, 255, 0.2);
    border-radius:5px;
    border: 0.2vw dotted grey;
}

.dz-default {
  color:rgba(255,255,255,0.7);
}


.filepicker.dropzone .dz-preview {
    background: none;
    border-radius: 5px;
}
